@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap";
:root {
    --color-green: #50fa7b;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #282a36;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 32px;
    border-bottom: 1px, solid #333;
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.menu {
    text-align: center;
}

.home_links a,
.menu a {
    color: whitesmoke;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

header div a:hover,
.home_links a:hover,
.wrapper a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

.wrapper {
    text-align: center;
    padding: 32px;
    color: whitesmoke;
}

.wrapper img {
    border: solid 0.25em var(--color-green);
    border-radius: 50%;
    margin-bottom: 32px;
    height: 300px;
}

.wrapper h1 {
    color: whitesmoke;
    font-size: 42px;
    font-weight: 700;
    font-weight: bold;
    line-height: 52px;
}

.wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

.wrapper p {
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    max-width: 500px;
    margin: 32px auto;
}

.wrapper a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: solid 2px var(--color-green);
}

.home_links {
    padding-bottom: 32px;
}

.home_links a {
    border-bottom: solid 2px var(--color-green);
}